$primary-orange: rgb(252, 147, 6);
$secondary-blue: rgb(44, 57, 76);
$danger-red: rgb(246, 91, 71);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$hover-grey: rgb(121, 121, 121);
$active-grey: rgb(53, 53, 53);
$danger-hover: rgb(246, 68, 54);
$danger-active: rgb(255, 27, 15);

$disabled-grey: rgb(230, 229, 227);
$disabled-text-grey: rgba(154, 151, 143, 0.5);
