//Typography variables

$base-font: 'Open Sans', sans-serif;
$heading-font:  'Open Sans', sans-serif;
$h1: 56px;
$h2: 32px;
$h3: 24px;
$h4: 21px;
$h5: 16px;
$h6: 14px;

// use as title in image and icon cards
$paragraph-large:21px;

//default normal text size
$paragraph-standard: 16px;

//used for Status component
$paragraph-small:14px;

//used for Tag
$paragraph-smallest:11px;

//use for search icon
$icon-size: 18px;

