.button_content-wrapper-l-iconOrLabel {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
}

.button_content-wrapper-l-iconOrLabel .button__label {
    margin: auto;
}

.button_content-wrapper-l-iconOrLabel .button__icon {
    margin: auto;
}

.button--primary .button_content-wrapper-l-iconAndLabel, .button--secondary .button_content-wrapper-l-iconAndLabel,
.button--danger .button_content-wrapper-l-iconAndLabel, .button--radial .button_content-wrapper-l-iconAndLabel {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 40px 0.5fr 3.5fr 0.5fr 40px;
    grid-template-columns: 40px 0.5fr 3.5fr 0.5fr 40px;
    -ms-grid-rows: 40px;
    grid-template-rows: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.button--primary .button_content-wrapper-l-iconAndLabel .button__label, .button--secondary .button_content-wrapper-l-iconAndLabel .button__label,
.button--danger .button_content-wrapper-l-iconAndLabel .button__label, .button--radial .button_content-wrapper-l-iconAndLabel .button__label {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: auto;
}

.button--primary .button_content-wrapper-l-iconAndLabel .button__icon, .button--secondary .button_content-wrapper-l-iconAndLabel .button__icon,
.button--danger .button_content-wrapper-l-iconAndLabel .button__icon, .button--radial .button_content-wrapper-l-iconAndLabel .button__icon {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 2;
    align-items: center;
    justify-items: center;
}

@supports not (min-width: max-content) {
    .button--primary .button_content-wrapper-l-iconAndLabel, .button--secondary .button_content-wrapper-l-iconAndLabel,
    .button--danger .button_content-wrapper-l-iconAndLabel, .button--radial .button_content-wrapper-l-iconAndLabel {
        box-sizing: border-box;
        white-space: nowrap;
        display: table;
        width: 100%;
    }

    .button--primary .button_content-wrapper-l-iconAndLabel .button__label, .button--secondary .button_content-wrapper-l-iconAndLabel .button__label,
    .button--danger .button_content-wrapper-l-iconAndLabel .button__label, .button--radial .button_content-wrapper-l-iconAndLabel .button__label {
        text-align: left;
        width: calc(100% - 40px);
        margin-left: -2rem;
    }

    .button--primary .button_content-wrapper-l-iconAndLabel .button__icon, .button--secondary .button_content-wrapper-l-iconAndLabel .button__icon,
    .button--danger .button_content-wrapper-l-iconAndLabel .button__icon, .button--radial .button_content-wrapper-l-iconAndLabel .button__icon {
        display: table-cell;
        width: 40px;
    }
}

.button--link .button_content-wrapper-l-iconAndLabel {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 4fr 0.8fr;
    grid-template-columns: 4fr 0.8fr;
    -ms-grid-rows: 40px;
    grid-template-rows: 40px;
    align-items: center;
}

.button--link .button_content-wrapper-l-iconAndLabel .button__icon {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 2;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: auto;
}

.button--link .button_content-wrapper-l-iconAndLabel .button__label {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 2;
}

/*# sourceMappingURL=button_layout.css.map */
