@import '../../../Themes/colours';


.button--primary {
  background-color: $primary-orange;
  color: $white;
}

.button--secondary {
  background-color: $secondary-blue;
  color: $white;
}

.button--radial {
  background-color: $secondary-blue;
  color: $white;
}


.button--primary,
.button--secondary,
.button--radial {

  &:hover {
    background-color: $hover-grey;
    color: $white;
  }

  &:active {
    color: $white;
    background-color: $active-grey;
  }

  &:disabled {
    background-color: $disabled-grey;
    color: $disabled-text-grey;
  }

  &:disabled:hover {
  }
}


.button--danger {
  background-color: $danger-red;
  color: $white;

  &:hover {
    background-color: $danger-hover;
    color: $white;
  }

  &:active {
    background-color: $danger-active;
    color: $white;
  }

  &:disabled {
    background-color: $disabled-grey;
    color: $disabled-text-grey;
  }

  &:disabled:hover {
  }
}


.button--link {
  color: $primary-orange;
  background-color: transparent;

  &:hover, &:active {
    color: $hover-grey;
  }

}

.button__icon {
  background-color: inherit;
  color: inherit;

  svg {
    background-color: transparent;
    color: inherit;
  }
}

.button__label {
  background-color: inherit;
  color: inherit;
}

.button_content-wrapper-l-iconAndLabel,
.button_content-wrapper-l-iconOrLabel {
  color: inherit;
  background-color: inherit;
}
